<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.EmpMapper">


    <resultMap id="empResultMap" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
    </resultMap>

    <!--List<Emp> selectAllEmp();-->
    <select id="selectAllEmp" resultMap="empResultMap">
        select * from t_emp
    </select>
<!--    <select id="selectAllEmp" resultType="Emp">-->
<!--        select eid,emp_name empName,age,sex,email from t_emp-->
<!--    </select>-->
    <!--Emp selectEmpAndDeptById(@Param("eid") Integer eid);-->
    <!--处理多对一映射关系的方式一：级联属性赋值-->
    <resultMap id="empAndDeptResultMapOne" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
        <result property="dept.did" column="did"></result>
        <result property="dept.deptName" column="dept_name"></result>
    </resultMap>
    <resultMap id="empAndDeptResultMapTwo" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
        <association property="dept" javaType="Dept">
            <id property="did" column="did"></id>
            <result property="deptName" column="dept_name"></result>
        </association>
    </resultMap>

    <select id="selectEmpAndDeptById"  resultMap="empAndDeptResultMapTwo">
        select * from t_emp left join t_dept on t_emp.did  = t_dept.did where  t_emp.eid  = #{eid}
    </select>

    <!--Emp selectEmpAndDeptByStepOne(@Param("eid") Integer eid);-->
    <select id="selectEmpAndDeptByStepOne" resultMap="selectEmpAndDeptByStepResultMap">
        select * from t_emp where eid=#{eid}
    </select>
    <!--
    fetchType:当开启了全局的延迟加载之后，可通过此属性手动控制延迟加载的效果
    lazy 关闭全局
    eager
    -->
    <resultMap id="selectEmpAndDeptByStepResultMap" type="Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
        <association property="dept"
                     select="com.atguigu.mybatis.mapper.DeptMapper.selectEmpAndDeptByStepTwo"
                     column="did"
                     fetchType="lazy"
        ></association>
    </resultMap>

</mapper>
